.menu {
  padding: 2rem;
}

.slider-wrapper {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 16/9;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}

/* tambahan baru untuk slider */
.menu .slider-wrapper .slider .content {
  background: #ffffff38;
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 2rem;
  text-align: center;
  border: 0.2rem solid #222;
  display: none;
}

/* gallery section */
.gallery .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}

.gallery .box-container .box {
  height: 25rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.gallery .box-container .box:hover .content {
  display: flex;
}

.gallery .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery .box-container .box .content {
  background: #ffffff38;
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 2rem;
  text-align: center;
  border: 0.2rem solid #222;
  display: none;
}

.gallery .box-container .box .content h3 {
  font-size: 2rem;
  color: #222;
  animation: fadeIn 0.2s linear backwards;
}

.gallery .box-container .box .content p {
  font-size: 1.4rem;
  color: #222;
  padding: 1rem 0;
  line-height: 2;
  animation: fadeIn 0.2s linear backwards 0.4s;
}

.gallery .box-container .box .content .btn {
  display: inline-block;
  padding: 10px 30px;
  background-color: brown;
  border: 1px solid rgb(230, 185, 169);
  font-size: 15px;
  box-shadow: #222;
  animation: fadeIn 0.2s linear backwards 0.6s;
}

.gallery .box-container .box .content .btn:hover {
  background-color: burlywood;
  border-color: burlywood;
  color: aliceblue;
}
